name: Latest Blog Posts

on:
  schedule:
    - cron: '0 */6 * * *' # Runs every 6 hours
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Pull in helio.me blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://helio.me/rss,https://helio.me/feed"
          max_post_count: 5
          committer_username: "insign"
          committer_email: "gh@helio.me"
          commit_message: "Updated with latest blog posts"
          template: "- [$title]($url) - $newline"
